<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b378dcff-027e-4f58-9731-1bf1d787de9e/resourcegroups/QNEnglishLearningResourceGroup/providers/Microsoft.Web/sites/QNEnglishLearning</ResourceId>
    <ResourceGroup>QNEnglishLearningResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://qnenglishlearning.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>qnenglishlearning.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>QNEnglishLearning</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$QNEnglishLearning</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EnglishLearningTools_db" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:englishlearningtoolsdbserver.database.windows.net,1433;Initial Catalog=EnglishLearningTools_db;User ID=quang5598@englishlearningtoolsdbserver;Password=Tam1thienxich" Name="Data Source=tcp:englishlearningtoolsdbserver.database.windows.net,1433;Initial Catalog=EnglishLearningTools_db;User Id=quang5598@englishlearningtoolsdbserver;Password=Tam1thienxich" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EnglishLearningTools.Models.ApplicationDbContext, EnglishLearningTools" MigrationConfiguration="EnglishLearningTools.Migrations.Configuration, EnglishLearningTools" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:englishlearningtoolsdbserver.database.windows.net,1433;Initial Catalog=EnglishLearningTools_db;Persist Security Info=False;User ID=quang5598;Password=Tam1thienxich;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:englishlearningtoolsdbserver.database.windows.net,1433;Initial Catalog=EnglishLearningTools_db;Persist Security Info=False;User ID=quang5598;Password=Tam1thienxich;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EnglishLearningTools_db-Web.config Connection String">
      <ParameterValue>Data Source=tcp:englishlearningtoolsdbserver.database.windows.net,1433;Initial Catalog=EnglishLearningTools_db;User Id=quang5598@englishlearningtoolsdbserver;Password=Tam1thienxich</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String" />
  </ItemGroup>
</Project>